@import "fonts/EnergiPro/EnergiPro-Bold.css";
@import "fonts/EnergiPro/EnergiPro-Ultra.css";

@import "fonts/EnergiPro/EnergiPro-Regular.css";


.ep {
	font-family: "EnergiPro", sans-serif !important;
}

.epu {
	font-family: "EnergiProUltra", sans-serif !important;
}

.epr {
	font-family: "EnergiPro", sans-serif !important;
}

.epb {
	font-family: EnergiPro-Bold, sans-serif !important;
}


.font-20 {
	font-size: 20px !important;
}

.font-30 {
	font-size: 30px !important;
}

.font-3em {
	font-size: 3em !important;
}