/* Webfont: EnergiPro-UltraItalic */@font-face {
    font-family: 'EnergiProUltra';
    src: url('EnergiPro-UltraItalic.eot'); /* IE9 Compat Modes */
    src: url('EnergiPro-UltraItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EnergiPro-UltraItalic.woff') format('woff'), /* Modern Browsers */
         url('EnergiPro-UltraItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('EnergiPro-UltraItalic.svg#EnergiPro-UltraItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

